/* Contenedor principal del footer */
.footer-container {
  background-color:#f44336;; /* Rojo coral */
  color: white; /* Letras blancas */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-links {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.footer-link {
  text-decoration: none;
  color: white;  /* Letras blancas */
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #ffdab9;  /* Un tono más claro de coral al pasar el ratón */
}

/* Estilos para los íconos sociales */
.footer-socials {
  display: flex;
  gap: 15px;
}

.social-link {
  display: inline-block;
}

.social-icon {
  font-size: 2rem; /* Tamaño de los íconos */
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-link:hover .social-icon {
  transform: scale(1.1);
  color: #ffdab9; /* Un color claro para el hover */
}
